<nav id="primary_nav" class="full">
  <ul class="center">
    <li><a href="/tag/pasiones/">Pasiones</a></li>
    <li><a href="/tag/lecciones/">Lecciones</a></li>
    <li><a href="/tag/retos/">Retos</a></li>
    <li><a href="/tag/suenos/">Sueños</a></li>
    <li><a href="/tag/decepciones/">Decepciones</a></li>
    <li><a href="/tag/contradicciones/">Contradicciones</a></li>
  </ul>
</nav><!--// end main navigation -->
