<nav id="primary_nav" class="full">
  <ul class="center">
    <li><a href="/tag/pasiones/">Pasiones</a></li>
    <li><a href="/tag/lecciones/">Lecciones</a></li>
    <li><a href="/tag/retos/">Retos</a></li>
    <li><a href="/tag/sueños/">Sueños</a></li>
    <li><a href="/tag/dececpiones/">Decepciones</a></li>
    <li><a href="/tag/contradicciones/">Contradicciones</a></li>
  </ul>
</nav><!--// end main navigation -->
