<div class="posts-navigation clearfix">
  {{#if prev}}
  <a href="{{page_url prev}}" class="prev left"><i class="fa fa-chevron-left"></i> Anterior</a>
  {{/if}}
  {{#if next}}
  <a href="{{page_url next}}" class="next right">Siguiente <i class="fa fa-chevron-right"></i></a>
  {{/if}}
</div>
