{{! Main menu and profile top box }}

<div class="profile-menu-boxes full page-size">
      <aside class="profile-box padding block">
          <img src="http://lorempixel.com/400/400/technics/1" alt="" class="profile-photo-box circle">
          <nav class="secondary-nav navigation">
              <ul>
                  <li><a href="#">about me</a></li>
                  <li><a href="#">projects</a></li>
              </ul>
          </nav>
      </aside><!-- // end profile-box -->


      <nav class="navigation top-nav center page-size">
          <ul>
              <li><a href="#">item 1</a></li>
              <li><a href="#">item 2</a></li>
              <li><a href="#">item 3</a></li>
              <li><a href="#">item 4</a></li>
              <li><a href="#">item 5</a></li>
              <li><a href="#">item 6</a></li>
          </ul>
      </nav><!--// end main navigation -->
</div><!-- // end profile-menu-boxes -->