{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<header id="main_header" class="full" style="background-image: url({{@blog.cover}})">
  <div class="center page_size full clearfix">
    <div class="top_buttons  padding clearfix">
      <button id="menu_button" class="right">
        <i class="fa fa-bars"></i>
      </button>
    </div><!-- // end top buttons -->
    <img src="{{@blog.logo}}" class="center round avatar" alt="personal avatar">
    {{> "second_nav"}}
    <p class="center index_title">voylinux</p>
    
  </div><!--//end centered -->
</header><!--// end main header -->

{{> "main_nav"}}

<section id="wrapper" class="center page_size padding">
  {{> "loop"}}
