{{!< default}}
  <header
    style="background-image: url({{@blog.cover}})"
    class="full padding main-header blog-header">
    <div class="header-container page-size center">
      <span class="blog-title">voylinux.com</span>
    </div><!--/end header-container-->
  </header><!--/end header -->
  {{> "voylinux_menu"}}
