{{!< default}}
  <header
    style="background-image: url({{@blog.cover}})"
    class="full padding main-header blog-header">
    <div class="header-container page-size center">
      <span class="blog-title">voylinux.com</span>
    </div><!--/end header-container-->
  </header><!--/end header -->
  {{> "voylinux_menu"}}
  <section class="wrapper page-size block center">
    <article class="content-text post-in-list">
      <a class="post-title-link" href="#"><h1 class="post-title-list">This is an h1 title</h1></a>
      <p class="post-meta"><span class="date">22 May 2015</span> <span class="published">Publicado en</span>
        <a class="post-tag">Reflexiones</a> &bull; <a class="post-tag">Cine</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem nama <a href="#">a link</a> quae, fuga expedita eum veritatis similique, perspiciatis aliquam voluptatibus quidem accusantium.</p>
    </article>
    <article class="content-text post-in-list">
      <a class="post-title-link" href="#"><h1 class="post-title-list">Oh happy day!</h1></a>
      <p class="post-meta"><span class="date">5 October 2014</span> <span class="published">Publicado en</span>
        <a class="post-tag">Pasiones</a> &bull; <a class="post-tag">Mozilla</a></p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore rem nama <a href="#">a link</a> quae, fuga expedita eum veritatis similique, perspiciatis aliquam voluptatibus quidem accusantium.</p>
    </article>

  </section><!--/end wrapper -->
