<nav id="primary_nav" class="full">
  <ul class="center">
    <li><a href="#">Pasiones</a></li>
    <li><a href="#">Lecciones</a></li>
    <li><a href="#">Retos</a></li>
    <li><a href="#">Sueños</a></li>
    <li><a href="#">Decepciones</a></li>
    <li><a href="#">Contradicciones</a></li>
  </ul>
</nav><!--// end main navigation -->
