/* Header */

#main_header
  background-image: url('../img/voylinux_header_bg.jpg')
  background-size: cover
  background-position: center center
  color: lighten(grey_extra_light, 50%)
  padding-bottom: 1em


  .main_title
    color: #FFF
    font-size: 3em
    text-align: center

  #secondary_nav
    font-family: sans_serif_font
    ul
      text-align: center
      li
        padding: 1em
        a
          color: #FFF
          font-size: 1.3em
          text-decoration: none
  .avatar
    margin-top: 1em
    max-width: 30%

  .top_buttons
    position: absolute
    width: 100%
    #menu_button
      font-size: 1.8em
      button(#FFF, #FFF)
      vertical-align: baseline
    #rss_button
      button(rgba(255, 255, 255, 0.9), orange_)
      &:hover
        background-color: rgba(255, 255, 255, 0.1)
      vertical-align: baseline


#primary_nav
  border-bottom: 1px solid rgba(50, 50, 50, .3)
  border-top: 1px solid rgba(50, 50, 50, .3)
  font-family: sans_serif_font
  font-size: .8em
  text-align: center
  text-transform: uppercase
  max-height: 0px
  overflow: hidden
  transition: all 1s linear

  &:hover
    max-height: 1000px


  ul
    background-color: lighten(grey_extra_light, 70%)
    padding: 0
    list-style: none
    li
      border-bottom: 1px solid rgba(50, 50, 50, .3)
      line-height: 3
      &:first-child:
        border-top: 1px solid rgba(50, 50, 50, .3)
      &:last-child
        border: none
      &:hover
        background-color: light_blue
        a
          color: #FFF
      a
        //color: dark_blue
        color: lighten(grey_dark, 30%)
        padding: 1em
        text-decoration: none


#wrapper

  a
    color: light_blue
    padding-bottom: 1em
    text-decoration: underline
    text-decoration-style: dotted
    &:hover
      color: orange_


  img
    margin: .5em 0
    width: 100%

  .post
    line-height: 1.45
    padding-bottom: 3em
    margin-bottom: 5em
    border-bottom: 1px solid lighten(grey_extra_light, 60%)
    &:last-child
      border: none
    h1
      line-height: .9
      margin-top: 0
    .post-list-date
      color: darken(grey_light, 5%)
      font-family: sans_serif_font
      margin-bottom: 0
      text-align: center
      text-transform: uppercase

    .post-footer
      background-color: lighten(grey_extra_light, 80%)
      font-size: .8em
      color: darken(grey_light, 5%)
      padding: .3em
      text-transform: uppercase
      a
        //color: darken(grey_light, 20%)
        text-decoration-style: dotted


/* Footer */

#main_footer
  background-color: grey_dark
  border-top: 1px solid rgba( 100, 100, 100, .7)
  color: grey_extra_light
  padding()

  .footer_social
    text-align: center
    ul
      li
        line-height: 3
        a
          background-color: darken(grey, 45%)
          border-radius: 100%
          color: grey_extra_light
          font-size: 1.5em
          margin-right: .3em
          padding: .3em
          height: auto
          width: 1.7em

  .created_by,
  .rights
    font-size: 75%
    text-align: center
    line-height: 1
    max-width: 90%

  .rights
    margin-top: 1em

  a
    text-decoration: none
  [class^="icon-"]:before,
  [class*=" icon-"]:before
    color: grey_extra_light
    text-decoration: none

  .footer-icon
    background-color: lighten(grey_dark, 5%)
    border: 1px solid lighten(grey_dark, 10%)
    border-radius: 3px
    color: lighten(grey_light, 50%)
    padding: .2em

  #footer_content
    h3
      color: darken(grey_light, 20%)
    font-family: sans_serif_font
    .footer_section
      text-align: center
      ul
        padding: 0
        list-style: none
        li
          line-height: 1.7
          a
            color: lighten(grey_light, 20%)
