

/* clearfix */
clearfix()
  &:before,
  &:after
    content: " "; // 1
    display: table; // 2
  &:after
    clear: both;

round()
  border-radius: 100%

transition(arguments)
  -webkit-transition arguments
  -moz-transition arguments
  transition arguments
