@media only screen and (min-width: 450px)
  #main_footer
    #footer_content
      .footer_section
        float: left
        width: 50%
        &:last-child
          clear: right
          display: block
          width: 100%


@media only screen and (min-width: 800px)

  html
    //font-size: 18px
    #menu_button
      display: none
  #primary_nav
    font-size: .9em
    max-height: 1000px
    padding: 0
    ul
      padding: 0
      li
        border: none
        display: inline
        line-height: 0
        a
          line-height: 3em
          padding: 1em
  #main_footer
    #footer_content
      font-size: .8em
      .footer_section
        float: left
        text-align: left
        width: 30%
        &:last-child
          float: left
          width: 30%


@media only screen and (min-width: 1000px)
  #wrapper
    .post
      h1,
      .post-list-date
        text-align: left

  .post-template
    #wrapper
      .post
        .post-list-date
          text-align: center
          font-size: 1.3em
