@media only screen and (min-width: 800px)
  html
    font-size: 20px
  #primary_nav
    max-height: 1000px
    ul
      li
        display: inline
        border: none

@media only screen and (min-width: 1000px)

  h1
    text-align: left
