/* Colors */

/* gray scale */
black_            = #000
grey              = #5F5F5F
grey_light        = #858585
grey_lighter      = #A6A6A6
grey_extra_light  = #C7C7C7
grey_dark         = #1C2224

/* colors */
green_            = #4B780A
orange_           = #FF4E00
red_              = #820000

light_blue        = #2455C3
dark_blue         = darken(#2455C3, 20%)

/* Sizes */

page_size         = 750px
base_font_size    = 18px

//serif_font         = georgia, serif
serif_font         = 'merriweatherregular'
sans_serif_font    = 'open_sansregular'
